[submodule "merlin/systems"]
	path = merlin/systems
	url = git@github.com:NVIDIA-Merlin/systems.git
[submodule "merlin/NVTabular"]
	path = merlin/NVTabular
	url = git@github.com:NVIDIA-Merlin/NVTabular.git
[submodule "merlin/core"]
	path = merlin/core
	url = git@github.com:NVIDIA-Merlin/core.git
[submodule "merlin/models"]
	path = merlin/models
	url = git@github.com:NVIDIA-Merlin/models.git
[submodule "merlin/dataloader"]
	path = merlin/dataloader
	url = git@github.com:NVIDIA-Merlin/dataloader.git
[submodule "merlin/Transformers4Rec"]
	path = merlin/Transformers4Rec
	url = git@github.com:NVIDIA-Merlin/Transformers4Rec.git
