docs/build/
docs/source/examples
docs/source/README.md
docs/source/generated/

.coverage
.tox

__pycache__/
*.py[cod]
*.parquet
*.pbtxt
*.pb
*.index
*.faiss
*.data*
*.db

**/.ipynb_checkpoints/*
/.*_checkpoints/
.ipynb_checkpoints/*
*/.jupyter/*
