# docs
ipython==8.10.0
jinja2<3.1
markupsafe==2.0.1
natsort==8.1.0
sphinx_book_theme~=1.0.1
sphinx_markdown_tables
sphinx-multiversion@git+https://github.com/mikemckiernan/sphinx-multiversion.git@v0.3.0
sphinxcontrib-copydirs@git+https://github.com/mikemckiernan/sphinxcontrib-copydirs.git@v0.3.3
sphinx-external-toc<0.4
myst-nb
linkify-it-py
Markdown==3.3.7

# smx
mergedeep<1.4
PyGithub<1.56
semver>=2,<3
pytest<7.3
coverage<6.6

# Libraries
tensorflow
torch
torchmetrics
jax[cpu]
tritonclient[all]
requests>=2.10,<3
treelite==2.4.0
treelite_runtime==2.4.0
git+https://github.com/NVIDIA-Merlin/core.git
git+https://github.com/NVIDIA-Merlin/dataloader.git
git+https://github.com/NVIDIA-Merlin/models.git
git+https://github.com/NVIDIA-Merlin/NVTabular.git
git+https://github.com/NVIDIA-Merlin/systems.git
git+https://github.com/NVIDIA-Merlin/Transformers4Rec.git