# docs
ipython==8.2.0
Sphinx==3.5.4
jinja2<3.1
markupsafe==2.0.1
natsort==8.1.0
sphinx_rtd_theme
sphinx_markdown_tables
sphinx-multiversion@git+https://github.com/mikemckiernan/sphinx-multiversion.git@v0.3.0
sphinxcontrib-copydirs@git+https://github.com/mikemckiernan/sphinxcontrib-copydirs.git@v0.3.3
sphinx-external-toc<0.4
myst-nb
linkify-it-py

# smx
mergedeep<1.4
docker<5.1
PyGithub<1.56
semver>=2,<3

# packages necessary to run tests and push PRs
# assumes requirements for nvtabular logic are already installed

black==21.7b0
click<8.1.0
flake8==3.9.2
isort==5.9.3
pylint==2.7.4
bandit==1.7.0
flake8-nb==0.3.0
pytest>=5
pytest-cov>=2
codespell
interrogate==1.5.0
